<h2>Inscription</h2>
<article>
  <p>
    Vous souhaitez présenter une candidature pour rejoindre notre association,
    vous inscrire à l'école de pilotage ou vous êtes déjà pilote et souhaitez
    voler sur nos machines? <br />
    Rendez-vous dans les locaux de l'Aéro-club sur l'aérodrome(1692 Route RN7
    Nord, 26140 Albon) un samedi à partir de 14h30. L'un des membres du bureau
    présent, vous expliquera les différentes formalités, vous fera visiter nos
    installations et présentera nos aéronefs.<br />
    Besoin de renseignements ? Contactez nous au
    <a class="tel cta" type="tel" href="tel:0475684454"
      ><img [src]="'images/tel.svg'" alt="Téléphone" />04 75 68 44 54</a
    >
  </p>
  <h3>Les différentes licences</h3>
  <p>Formation à partir de 15 ans</p>
  <p>
    Toutes les formations théoriques s'effectuent par plusieurs sources
    simultanées : Instructeur en cours particulier avant et après le vol,
    E.learning, manuel d'apprentissage, cours en commun.
  </p>
  <p>
    Leur durée est variable selon votre implication. L'obtention de l'examen
    théorique est indispensable pour pouvoir présenter la partie "pratique" de
    toutes les licences et brevets.
  </p>
  <ul>
    <li>
      Licence PPL : 45 h de vol, dont au moins 25 h en double commande et, au
      moins, 10 h de vol en solo supervisées par son instructeur dont, au moins,
      5 h de vol solo sur la campagne et, au moins, un vol solo comportant une
      navigation d'au moins 150 miles nautiques (280 km) avec 2 atterrissages
      complets intermédiaires. La formation comprend une initiation au vol sans
      visibilité (réalisation d'un virage de 180°).
    </li>
    <li>
      Licence LAPL : au moins 30 heures de vol d'instruction dont 15 heures
      d'instruction au vol en double commande et 5 heures de vol en solo
      supervisé, dont un minimum de 3 heures de vol en campagne en solo avec au
      moins 1 vol en campagne d'un minimum de 150 km (80 NM), au cours duquel 1
      atterrissage avec arrêt complet sera effectué sur un aérodrome autre que
      l'aérodrome de départ. L’emport de passagers pourra être autorisé par
      l'instructeur après 10 heures de vol supplémentaires.
    </li>
  </ul>
  <p>
    Ces durées de formation sont les minimums légaux pour pouvoir se présenter à
    l'examen pratique.
  </p>
  <ul>
    <li>
      Brevet ULM classe3 multiaxe : Pas de durée minimum de formation définie
      par la législation, mais compter un minimum de trente heures de vol dont
      25 en "double commande" c'est une bonne base avant de passer le brevet.
    </li>
  </ul>
</article>
<h2>Vols de découverte</h2>
<article>
  <p>
    Rendez vous sur la page
    <a [routerLink]="'/voler/decouvrir'" class="cta cta-left"
      >vols de découverte</a
    >
    pour plus d'informations
  </p>
</article>
