<article>
  Inscription
  <p>
    Vous souhaitez vous inscrire à l'école de pilotage ou vous êtes pilotes et
    souhaitez rejoindre notre association?
     Rendez-vous dans nos locaux un samedi
    à partir de 14h30, nous vous expliquerons tout cela en détail et nous ferons
    visiter nos installations ainsi que nos aéronefs ou renseignements au numéro
    <a type="tel">04 75</a>.
  </p>
</article>

<article>
  Vol découverte
  <p>Réndez vous sur la page vole de découverte pour plus d'informations</p>
</article>
