<h2>Inscription</h2>
<article>
  <p>
    Vous souhaitez vous inscrire à l'école de pilotage ou vous êtes déjà pilotes
    et souhaitez rejoindre notre association? <br />
    Rendez-vous dans les locaux de l'aéroclub (1692 Route RN7 Nord, 26140 Albon)
    un samedi à partir de 14h30. L'un des membres du bureau présent ce-jour,
    expliquera les différentes formalités et vous fera visiter nos installations
    et présentera nos aéronefs.<br />
    Besoin de renseignements ? Contactez nous au
    <a type="tel">04 75 68 44 54</a>.
  </p>
  <h3>Les différentes licences</h3>
  <ul>
    <li>PPL :</li>
    <li>LAPL :</li>
  </ul>
</article>
<h2>Vol découverte</h2>
<article>
  <p>
    Rendez vous sur la page
    <a [routerLink]="'/voler/decouvrir'">vol de découvertes</a> pour plus
    d'informations
  </p>
</article>
