 <div
      class="fb-page"
      data-href="https://www.facebook.com/AeroclubDannonayEtDeLaValleeDuRhone"
      data-tabs="timeline"
      data-width="500"
      data-height=""
      data-small-header="true"
      data-adapt-container-width="true"
      data-hide-cover="false"
      data-show-facepile="true"

    >
      <blockquote
        cite="https://www.facebook.com/AeroclubDannonayEtDeLaValleeDuRhone"
        class="fb-xfbml-parse-ignore"
      >
        <a href="https://www.facebook.com/AeroclubDannonayEtDeLaValleeDuRhone" target="_blank"
          >Aéroclub d&#039;Annonay et de la Vallée du Rhône</a
        >
      </blockquote>
    </div>
