<section>
  <h2>Pour qui?</h2>
  Destiné aux scolaires sans limite inférieure d'age<br />

  Il est cependant conseillé d'attendre la classe de 3eme<br />
  <h2>Le Diplôme</h2>
  Il sanctionne une culture générale dans le domaine aéronautique et s'effectue
  dans le cadre d'une convention signée entre l’aéro-club et un établissement
  scolaire. Il comporte une initiation théorique dans un établissement scolaire
  et une initiation pratique en aéro-club.<br />

  Le titulaire d'un BIA peut obtenir des bourses lors de son apprentissage vers
  le brevet de pilote privé.

  <p>
    Le Brevet d'initiation aéronautique (BIA) est un diplôme français délivré
    conjointement par le Ministère de l'Écologie, de l'Énergie, du Développement
    durable et de la Mer, en charge des Transports, et par l'Éducation
    nationale.
  </p>
  <h2>La formation</h2>
  La formation comprend :
  <div>
    <ul>
      <li>
        Une partie théorique de 40 heures de cours dispensées tous les mercredis
        de 13 H 30 à 15 H 30 au Lycée Saint-Denis à Annonay ou au lycée Jeanne
        D'Arc à Roussillon
      </li>
      <li>
        Une partie pratique d’initiation au vol consistant en une heure de vol,
        en place avant, sur un avion type DR-400 à l’Aéro-club d’Annonay basé au
        Creux de la Thine.
      </li>
      <li>L’examen du BIA se passe en mai, sous forme de QCM.</li>
    </ul>
    <h2>Bénéfices</h2>
    <p>
      L’obtention du Diplôme permet de postuler à une bourse d’aide à
      l’apprentissage du pilotage, délivrée par la Fédération Française
      Aéronautique et à des conditions très avantageuses offertes par
      l’Aéro-club d’Annonay et de la vallée du Rhône.
    </p>
    <br />
    <p>
      <strong
        >En outre, l’obtention du BIA atteste d’une motivation certaine pour une
        carrière aéronautique et, porté sur un C.V. le BIA sera un atout
        supplémentaire.</strong
      >
    </p>
  </div>

  Pour plus d'informations :
  <ul>
    <li>Fédération française aéronautique</li>
    <li>Lycée St Denis d'Annonay</li>
    <li>Lycée Jeanne D'arc de Roussillon</li>
  </ul>
</section>
