<h2>Mentions légales</h2>
<article>
  <h3>Propriétaire du site</h3>
  Aéroclub d'Annonay et de la vallée du Rhône Adresse <br />
  Aérodrome du Creux de la Thine, 1692 Route RN7 Nord, 26140 Albon<br />
  04 75 68 44 54<br />
  aeroclubdannonay.str@free.fr
</article>
<article>
  <h3>Hébergeur</h3>
  L’hébergement du site est réalisé par la société IONOS.<br />
  1&1 IONOS Internet SARL<br />
  7, place de la Gare<br />
  BP 70109<br />
  57200 Sarreguemines Cedex<br />
  SARL au capital de 100 000 EUR<br />
</article>
