Nos Machines
<p>
  Avec une flotte constituée de 5 avions et 1 ULM, vous pourrez découvrir la
  région aux commandes de machines diverses allant de Jodel à trains classiques
  aux emblématiques Robin DR400 en passant par un ULM A22.
</p>

<div class="swiper-container">
  <swiper-container
    class="slider"
    navigation="true"
    scrollbar="true"
    virtual="true"
    autoplay="false"
    parallax="false"
    center-slides="false"

    space-between="20"
  >
    <swiper-slide
      ><div class="slide-container">
        <img [src]="'images/caroussel/lflr.jpg'" /></div
    ></swiper-slide>
    <swiper-slide
      ><div class="slide-container">
        <img [src]="'images/caroussel/a22.JPG'" /></div
    ></swiper-slide>
    <swiper-slide
      ><div class="slide-container">
        <img [src]="'images/caroussel/bigf.jpg'" /></div
    ></swiper-slide>
    <swiper-slide
      ><div class="slide-container">
        <img [src]="'images/caroussel/coucher-soleil.jpg'" /></div
    ></swiper-slide>
  </swiper-container>
</div>
