<section>
  <h2>Nos Machines</h2>
  <p>
    Avec une flotte constituée de 5 avions et 1 ULM, vous pourrez découvrir la
    région aux commandes de machines diverses allant de Jodel à train
    classique aux emblématiques Robin DR400 en passant par un ULM A22.
  </p>

  <div class="avions">
    <article>
      <h3>Jodel D112</h3>
      <img src="images/avions/bigf.jpg" />
      <p class="legend">
        Moins puissant que le Jodel D-119, mais plus léger (325 kg !), c'est un
        excellent avion-école (Probablement un des meilleurs de tout les temps
        !) et de loisir, une machine devenue rare dans les aéro-clubs, ayant des
        qualités de vols fabuleuses, mais exigeant une bonne finesse de pilotage
        pour un maximum de plaisir.
      </p>
    </article>
    <article>
      <h3>Jodel D119</h3>
      <img src="images/avions/yt.jpg" />
      <p class="legend">
        Le Jodel D-119, le frère du Jodel D-112, mais qui aurait fréquenté une
        salle de musculation. Ses 93 chevaux pour une masse à vide de 375 kg,
        assurent ses performances. Sa maniabilité et son autonomie de plus de 5
        heures, sont des qualités qui raviront les pilotes . C'est bien sur un
        très très bon avion pour l'école de pilotage et de loisirs pour les
        longs vols de tourisme champêtre.
      </p>
    </article>
    <article>
      <h3>Robin DR400-120</h3>
      <img src="images/avions/kx.jpg" />
      <p class="legend">
        Le Dr-400, ou l'avion le plus répandu dans les aéro-clubs européen.
        Réunissant de parfaites qualités de vol et de bonnes performances en
        croisière, d'un pilotage agréable c'est l'avion idéal pour apprendre à
        naviguer. Avec sa capacité 2 adultes + 2 enfants, il est parfait aussi
        pour des vols à 3 copains sur des terrains compatibles avec ses
        performances de décollage.
      </p>
    </article>
    <article>
      <h3>Robin DR400-120</h3>
      <img src="images/avions/bt.jpg" />
      <p class="legend">
        Le Dr-400, ou l'avion le plus répandu dans les aéro-clubs européen. Même
        machine que son frère le KX, ce dernier a eu droit a un lifting pour lui
        refaire une jeunesse extérieur mais aussi intérieur avec un avionics
        plus récent.
      </p>
    </article>
    <article>
      <h3>Robin DR400-180</h3>
      <img src="images/avions/pn.jpg" />
      <p class="legend">
        "LE DR 400". Excellent en tout, il réuni les performances, les qualités
        de vol, la capacité d'emport, l'autonomie. Son confort et ses
        équipements font de lui un grand voyageur. Ses 180 cv et ses 190L de
        carburant repartis dans 3 réservoirs vous permettront de relier par
        exemple, sans escale, St Rambert à l’île de beauté en 2h45 avec 4
        passagers et leurs bagages, mais également des destinations beaucoup
        plus lointaines... C'est aussi notre machine de prédilection pour les
        vols de découverte.
      </p>
    </article>
    <article>
      <h3>Aeroprakt A22</h3>
      <img src="images/avions/a22.jpg" />
      <p class="legend">
        Classé dans la catégorie ULM, ce nouveau venu au sein de notre aéro-club
        offre des performances de décollages et atterrissages courts lui
        permettant l'accès à de nombreux petits terrains inaccessibles aux
        avions. Le vol lent et la photo aérienne sont d'autre de ses facultés
        appréciées lors des vols de découverte.
      </p>
    </article>
  </div>
</section>
