<header>
  <div class="content-panel">
    <img class="logo" alt="logo" [src]="'images/logo.png'" />
    <div>
      <h1>Aéro-club d'Annonay et de la vallée du Rhône</h1>
      <nav>
        <ul>
          <li>
            <a [routerLink]="'accueil'" [routerLinkActive]="'active-link'"
              >Accueil</a
            >
          </li>
          <li>
            <a [routerLink]="'aeroclub'" [routerLinkActive]="'active-link'"
              >L'Aéro-club</a
            >
          </li>
          <li>
            <a
              [routerLink]="'voler/decouvrir'"
              [routerLinkActive]="'active-link'"
              >Baptêmes de l'air</a
            >
          </li>
          <li>
            <a
              [routerLink]="'voler/apprendre'"
              [routerLinkActive]="'active-link'"
              >Apprendre</a
            >
          </li>
          <li>
            <a [routerLink]="'inscription'" [routerLinkActive]="'active-link'"
              >S'inscrire</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<div class="content-panel body-container">
  <router-outlet></router-outlet>
</div>
<footer>
  <div class="logo-container">
    <img alt="logo" [src]="'images/logo_aeroclub_transparent.png'" />
  </div>
  <div class="coordonnees">
    <a
      class="address"
      target="_blank"
      href="https://www.google.com/maps/place/A%C3%A9ro+Club+Annonay/@45.2553184,4.8227403,17z/data=!4m6!3m5!1s0x47f53e6247f9df0d:0x60bd517d75d542f0!8m2!3d45.2556523!4d4.8230463!16s%2Fg%2F1tjkf48l?entry=ttu"
    >
      <img [src]="'images/map.svg'" alt="map" /> Aérodrome du Creux de la Thine,
      1692 Route RN7 Nord, 26140 Albon
    </a>
    <a class="tel" href="tel:0475684454"
      ><img [src]="'images/tel.svg'" alt="Téléphone" />04 75 68 44 54</a
    >
    <a
      href="mailto:aeroclubdannonay.str@free.fr"
      [textContent]="'aeroclubdannonay.str@free.fr'"
    ></a>
  </div>
  <div>
    ©Aéroclub d'Annonay
    <p>
      <a [href]="'https://www.ffa-aero.fr/'" target="_blank">
        <img [src]="'images/logo-ffa.png'" alt="Logo FFA" />
      </a>
    </p>
  </div>
</footer>
