.content-panel {
  margin: 0 auto;
  max-width: 1280px;
  min-height: 100%;

  &.body-container {
    background-color: aliceblue;
    box-shadow: #ccc 0px 20px 20px 4px;
    padding: 0;
  }
}

header {
  background: #1b4470;
  color: #fff;
  padding: 1em 0 0 0;
  top: 0;
  z-index: 2;
  .content-panel {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;

    img.logo {
      max-width: fit-content;
      max-height: fit-content;
      padding-bottom: 1em;
      flex: 1 1;
    }
    > div {
      flex: 1 1;

      h1 {
        flex: 1 1;
        min-width: 50%;
      }
      nav {
        flex: 1 0;
        min-width: 50%;
        ul {
          list-style: none;
          display: flex;
          gap: 1em;
          margin: 0;
          padding: 0;
          a {
            display: inline-block;
            padding: 1em 1em 0.5em 1em;
            color: #fff;
            text-decoration: none;
            &:visited {
              text-decoration: none;
            }
            &:hover {
              background-color: rgba($color: #fff, $alpha: 0.25);
            }
            &.active-link {
              border-bottom: 4px solid #fff;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}

footer {
  padding: 2em 0 0 0;
  background-color: #000;
  color: #fff;

  display: flex;
  flex-wrap: wrap;
  > * {
    flex: 1;
  }
  .coordonnees {
    display: flex;
    flex-direction: column;
    a,
    a:visited,
    a:hover {
      text-decoration: none;
      color: #fff;
    }
    img {
      height: 32px;
      padding-right: 0.5em;
    }
    .tel,.address{
      display: flex;
      align-items: center;
    }
  }
  .logo-container {
    text-align: center;
    img {
      max-height: 200px;
    }
  }
}
