<article class="initiation">
  <div>
    <h2>Vol d'initiation au pilotage</h2>
    Vous envisagez de vous lancer dans l'apprentissage du pilotage, mais vous ne
    vous sentez pas encore prêt pour franchir le pas... ou vous voulez offrir un
    cadeau hors du commun à un proche...?<br />
    L'Aéroclub d'Annonay vous propose à travers la Fédération Française
    aéronautique des <i>Passeports d'Initiation au pilotage</i> sur nos
    installations.
    <br />
    <ul>
      <li>
        Passeport "Prêt au décollage" : 1h30 de vol en place pilote avec
        Instructeur
      </li>
      <li>
        Passeport "Montée initiale" : 3h00 de vol en place pilote avec
        Instructeur
      </li>
    </ul>
    Ces passeports comprennent une formation théorique au sol sous forme de
    briefing/débriefing, une assurance fédérale de pilote valable 3 mois, la
    possibilité d'inscrire ces vols sur votre futur carnet de vol en cas de
    poursuite de votre formation. Commande un passeport :
    <a
      href="https://enviedepiloter.fr/commander-un-passeport/?code_fna=11003"
      target="_blank"
      >Passport
    </a>
  </div>
  <img src="images/f-bt.jpg" />
</article>
<article class="ppl-lapl">
  <img src="images/f-bt.jpg" />
  <div>
    <h2>Licence de pilote d'Avion/ULM</h2>
    <p>
      Accompagné de l'un de nos instructeur, vous suivrez une formation
      théorique et pratique qui vous conduira à l'obtention de la licence de
      pilote Avion (LAPL ou PPL) et/ou du brevet ULM.
    </p>
    Pendant toute cette période, vous ferez partie des nombreux élèves de notre
    école de pilotage.
    <a [routerLink]="'/inscription'">En savoir plus...</a>
  </div>
</article>
<article class="bia">
  <img src="images/f-bt.jpg" />
  <div>
    <h2>BIA</h2>
    Porté par les bénévoles de l'association, le BIA est un diplôme de
    l'éducation nationale, destiné aux scolaires à partir de la quatrième. Il
    sanctionne une culture générale dans le domaine aéronautique et s'effectue
    dans le cadre d'une convention signée entre l’aéro-club et un établissement
    scolaire. Il comporte un enseignement théorique dans un établissement
    scolaire les mercredis après-midi et une initiation pratique en aéro-club.
    <br />
    Le BIA est un vrai plus sur un CV et une porte ouverte aux métiers de
    l'aéronautique.
    <a [routerLink]="'bia'">En savoir plus ...</a>
  </div>
</article>
