<article class="bia">
  <img src="images/f-bt.jpg" />
  <div>
    <h2>BIA</h2>
    Porté par les bénévoles de l'association, le BIA est un diplôme de
    l'éducation nationale, destiné aux scolaires à partir de la quatrième. Il
    sanctionne une culture générale dans le domaine aéronautique et s'effectue
    dans le cadre d'une convention signée entre l’aéro-club et un établissement
    scolaire. Il comporte un enseignement théorique dans un établissement
    scolaire les mercredis après-midi et une initiation pratique en aéro-club.
    <br />
    Le BIA est un vrai plus sur un CV et une porte ouverte aux métiers de
    l'aéronautique.
    <a [routerLink]="'bia'">En savoir plus ...</a>
  </div>
</article>
<article class="initiation">
  <div>
    <h2>Initiation</h2>
    Vous en avez marre de voler en place passager, mais vous ne vous sentez pas
    encore prêt pour franchir le pas et apprendre à piloter ... Vous voulez
    offrir un cadeau hors du commun à un proche... L'Aéroclub d'Annonay a ce
    qu'il vous faut. Venez faire un Vol d'Initiation L'Aéroclub d'Annonay et la
    Fédération Française aéronautique vous propose des passeports initiation au
    pilotage : Passeport "Prêt au décollage" : 1h30 de vol avec Instructeur.
    Passeport "Montée initiale" : 3h00 de vol avec Instructeur Formation
    théorique au sol sous forme de briefing/débriefing. Une assurance fédérale
    de pilote valable 3 mois La possibilité d'inscrire vos vols sur votre futur
    carnet de vol en cas de poursuite de votre formation. Commande un passeport
    :
    <a
      href="https://enviedepiloter.fr/commander-un-passeport/?code_fna=11003"
      target="_blank"
      >Passport
    </a>
  </div>
  <img src="images/f-bt.jpg" />
</article>
<article class="ppl-lapl">
  <img src="images/f-bt.jpg" />
  <div>
    <h2>Licence Avion/ULM</h2>
    <p>
      Accompagné d'un instructeur du club, vous suivrez une formation théorique
      et pratique qui vous conduira à l'obtention de la licence de pilote Avion
      et/ou ULM.
    </p>
    Pendant toute cette période, vous ferez partie des nombreux élèves de notre
    école de pilotage.
    <a [routerLink]="'/inscription'">En savoir plus...</a>
  </div>
</article>
