<article class="bia">
  <img src="images/f-bt.jpg" />
  <div>
    <h2>BIA</h2>
    Destiné aux scolaires sans limite inférieure d'age Il est cependant
    conseillé d'attendre la classe de 3eme Il sanctionne une culture générale
    dans le domaine aéronautique et s'effectue dans le cadre d'une convention
    signée entre un aéro-club et un établissement scolaire. Il comporte une
    initiation théorique dans un établissement scolaire et une initiation
    pratique en aéro-club. Le titulaire d'un BIA peut obtenir des bourses en
    s'adressant à son aéro-club. Un tiers des élèves qui obtiennent le BIA
    poursuivent vers le Brevet de Base.
    <a [routerLink]="'bia'">En savoir plus ...</a>
  </div>
</article>
<article class="initiation">
  <div>
    <h2>Initiation</h2>
    Vous en avez marre de voler en place passager, mais vous ne vous sentez pas
    encore prêt pour franchir le pas et apprendre à piloter ... Vous voulez
    offrir un cadeau hors du commun à un proche... L'Aéroclub d'Annonay a ce
    qu'il vous faut. Venez faire un Vol d'Initiation L'Aéroclub d'Annonay et la
    Fédération Française aéronautique vous propose des passeports initiation au
    pilotage : Passeport "Prêt au décollage" : 1h30 de vol avec Instructeur.
    Passeport "Montée initiale" : 3h00 de vol avec Instructeur Formation
    théorique au sol sous forme de briefing/débriefing. Une assurance fédérale
    de pilote valable 3 mois La possibilité d'inscrire vos vols sur votre futur
    carnet de vol en cas de poursuite de votre formation. Commande un passeport
    :
    <a
      href="https://enviedepiloter.fr/commander-un-passeport/?code_fna=11003"
      target="_blank"
      >Passport
    </a>
  </div>
  <img src="images/f-bt.jpg" />
</article>
<article class="ppl-lapl">
  <img src="images/f-bt.jpg" />
  <div>
    <h2>Licence PPL/LAPL</h2>
  </div>
</article>
