:host {
  display: block;
}

section {
  padding: 1em;
  h2 {
    margin: 0;
  }

  ul.partners {
    list-style: none;
    display: flex;
    background: #1b4470;
    padding: 1em;
    margin: 0;
    li {
      flex: 1 1;
      text-align: center;
      img {
        max-height: 70px;
      }
    }
  }
}
