<h2>VOLS DE DECOUVERTE</h2>

<h3>
  Sur rendez-vous uniquement (avec préavis minimum de 48H) :
  <strong>0662040089</strong>.
</h3>

<p>
  Que ce soit pour vous ou pour offrir un cadeau originale, nous vous proposons
  deux formules.<br />
  Vous pourrez découvrir l'univers du pilotage à l'occasion d'un vol dans un
  rayon de 15&nbsp;à 25&nbsp;kilomètres autour de l'aérodrome.
</p>
<p>
  Ce vol est effectué dans le cadre de la réglementation en vigueur par un
  pilote qualifié.
  <br />
</p>
<section class="formules">
  <article>
    <h3><strong>Vol avion de 17 minutes:</strong></h3>

    <p><img alt="" [src]="'/images/bapteme17.jpg'" /></p>

    <p><strong>Information :&nbsp;</strong></p>

    <p>
      Les 17 min de vol comprennent les temps de procédure et roulage au sol.
    </p>

    <p><strong>Tarifs :&nbsp;</strong></p>

    <ul>
      <li>
        Adulte&nbsp;..................................................................
        50,00€
      </li>
    </ul>

    <ul>
      <li>
        Enfant de 6 à 12
        ans...............................................44,00€
      </li>
    </ul>
  </article>
  <article>
    <h3><strong>Vol avion&nbsp;de 30&nbsp;minutes:</strong></h3>

    <p><img alt="" [src]="'/images/bapteme30.jpg'" /></p>

    <p><strong>Informations :</strong>&nbsp;</p>

    <p>
      Les 30 min de vol comprennent les temps de procédure et roulage au sol.
    </p>

    <p><strong>Tarifs :&nbsp;</strong></p>

    <ul>
      <li>
        <p>
          Adulte....................................................................
          67,00€
        </p>
      </li>
      <li>
        <p>
          Enfant de&nbsp; 6 à 12
          ans............................................... 62.00€
        </p>
      </li>
    </ul>
  </article>
</section>
<p>
  Pour ces vols vous devez être deux personnes minimum . De plus, pour les
  enfants de moins de 6 ans accompagnés par 2 personnes payantes, c'est gratuit
  !
</p>
