<h1>VOLS DE DECOUVERTE</h1>

<h2>
  Sur rendez-vous uniquement (avec préavis minimum de 48H) :
  <strong>0662040089</strong>.
</h2>

<p>
  Nous vous proposons trois formules de vols de découverte&nbsp;afin de vous
  faire découvrir notre passion et de vous balader dans un rayon de 15&nbsp;à
  25&nbsp;kilomètres, autour de notre terrain.
</p>
<section class="formules">
  <article>
    <h2><strong>Vol avion de 17 minutes:</strong></h2>

    <h2><img alt="" [src]="'/images/bapteme17.jpg'" /></h2>

    <p><strong>Information :&nbsp;</strong></p>

    <p>
      Les 17 min de vol comprennent les temps de procédure et roulage au sol.
    </p>

    <p><strong>Tarifs :&nbsp;</strong></p>

    <ul>
      <li>
        Adulte&nbsp;..................................................................
        50,00€
      </li>
    </ul>

    <ul>
      <li>
        Enfant de 6 à 12
        ans...............................................44,00€
      </li>
    </ul>
  </article>
  <article>
    <h2><strong>Vol avion&nbsp;de 30&nbsp;minutes:</strong></h2>

    <h2><img alt="" [src]="'/images/bapteme30.jpg'" /></h2>

    <p><strong>Informations :</strong>&nbsp;</p>

    <p>
      Les 30 min de vol comprennent les temps de procédure et roulage au sol.
    </p>

    <p><strong>Tarifs :&nbsp;</strong></p>

    <ul>
      <li>
        <p>
          Adulte....................................................................
          67,00€
        </p>
      </li>
      <li>
        <p>
          Enfant de&nbsp; 6 à 12
          ans............................................... 62.00€
        </p>
      </li>
    </ul>
  </article>
</section>
<p>
  Pour les vols en avion vous devez être deux personnes minimum . De plus, pour
  les enfants de moins de 6 ans accompagnés par 2 personnes payantes, c'est
  gratuit !
</p>
