<div id="fb-root"></div>

<div class="parallax">
  <h1>Aéro-club d'Annonay et de la Vallée du Rhône</h1>
  <p class="next" (click)="scrollToPresentation()"><span>›</span></p>
</div>

<section class="presentation" #presentation>
  <p>
    Situé au Nord Drôme sur la commune d'Albon, lieu dit
    <i>le Creux de la thine</i>, l'aérodrome de St Rambert d'Albon héberge
    l'aéroclub d'annonay et de la vallée du Rhône. Nous vous proposons des vols
    découvertes, des vols d'initiation ainsi qu'une formation complète au sein
    de notre école de pilotage pouvant vous amener vers un brevet de pilote
    d'avion LAPL/PPL et/ou d'<strong>U</strong>ltra <strong>L</strong>éger
    <strong>M</strong>otorisé.
  </p>
</section>
<section class="sub-menus">
  <div class="card">
    <a [routerLink]="['/voler/decouvrir']"> <h4>Baptêmes de l'air...</h4></a>
  </div>
  <div class="card">
    <a [routerLink]="['/voler/apprendre']"><h4>J'apprends à piloter</h4></a>
  </div>
  <div class="card">
    <a [routerLink]="['/inscription']"><h4>Je suis déjà pilote</h4></a>
  </div>
</section>
<section class="social-container">
  <article>
    <h2>Caméra</h2>
    @if (tickCamera$ | async; as tickCamera) {
      <img
        src="img/cameraAero.jpeg?{{ tickCamera }}"
        style="width: 100%"
        alt="Camera terrain"
      />
    }
  </article>
  <aside>
    <h2>Actualités</h2>
    <app-facebook></app-facebook>
  </aside>
</section>
