<div id="fb-root"></div>

<div class="parallax">
  <h1>Aéro-club d'Annonay et de la Vallée du Rhône</h1>
  <p class="next" (click)="scrollToPresentation()"><span>›</span></p>
</div>

<section class="presentation" #presentation>
  <p>
    Situé au Nord de la Drôme sur la commune d'Albon, au lieu dit
    <i>le Creux de la Thine</i>, l'aérodrome de Saint-Rambert-d'Albon héberge
    l'aéroclub d'Annonay et de la vallée du Rhône depuis 1935. Nous vous
    proposons des vols découverte, des vols d'initiation et des formations
    complètes au sein de notre école de pilotage homologuée pouvant vous amener
    vers un brevet de pilote privé d'avion LAPL, PPL et/ou une licence
    d'<strong>U</strong>ltra <strong>L</strong>éger <strong>M</strong>otorisé multiaxe.
  </p>
</section>
<section class="sub-menus">
  <div class="card">
    <a [routerLink]="['/voler/decouvrir']"> <h4>Baptêmes de l'air...</h4></a>
  </div>
  <div class="card">
    <a [routerLink]="['/voler/apprendre']"><h4>Apprendre à voler</h4></a>
  </div>
  <div class="card">
    <a [routerLink]="['/inscription']"><h4>Je suis déjà pilote</h4></a>
  </div>
</section>
<section class="social-container">
  <article>
    <h2>Caméra</h2>
    @if (tickCamera$ | async; as tickCamera) {
      <img
        src="img/cameraAero.jpeg?{{ tickCamera }}"
        style="width: 100%"
        alt="Camera terrain"
      />
    }
  </article>
  <aside>
    <h2>Actualités</h2>
    <app-facebook></app-facebook>
  </aside>
</section>
