.separator {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  background: white;
  border: 1px dashed #1776dc;
  text-align: center;
  position: relative;
}
// .slider{
//   // background-color: #fff;
//   height:350px;
//   .slide-container{
//     text-align: center;
//     position: relative;
//     height:100%;

//     &::after{
//       display:block;
//       content:'';
//       position:absolute;
//       top:0;
//       left:0;
//       width:100%;
//       height:100%;
//       background: linear-gradient(90deg, rgba(240,248,255,1) 0%, rgba(255,255,255,0) 20%, rgba(255,255,255,0) 80%, rgba(240,248,255,1) 100%);
//       z-index: 100;

//     }
//     img{
//       max-height: 340px;
//       max-width: 100%;
//       height:100%;

//     }
//   }
// }
// .swiper-container{
//   height:350px;
// }
//  swiper-container {
//       width: 100%;
//       height: 100%;
//     }

//     swiper-slide {
//       text-align: center;
//       font-size: 18px;
//       background: #444;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//     }

//     swiper-slide img {
//       display: block;
//       width: 100%;
//       height: 100%;
//       object-fit: cover;
//     }

//     swiper-container {
//       margin-left: auto;
//       margin-right: auto;
//     }

.parallax {
  background-image: url('/images/f-bt2.jpg');
  color: #fff;
  text-shadow: 1px 2px 5px black;
  text-align: center;
  padding: 2em;
  display: flex;
  flex-direction: column;

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  // img{
  //   width:100%;
  // }
  p {
    font-size: 2em;
  }
  h2 {
    font-size: 3em;
  }
  .next {
    font-size: 5em;
    cursor: pointer;
    a,
    a:hover,
    a:visited {
      color: #fff;
      text-decoration: none;
    }
  }
}
section{
  padding:1em;
}
p.presentation {
  font-style: 2em;
}
.social-container {
  display: flex;
  gap:1em;
  > * {
    flex: 1 1;
  }
}
.sub-menus {
  display: flex;
  gap: 1em;
  .card {
    flex: 1 1;

    h4 {
      padding: 1em 1em;
      border-radius: 1em 1em 0 0;
      text-align: center;
      color: #fff;
        background: #1b4470;
    //  background: url('../../../public/images/rotating_card2.png') repeat-x;
    }
    a,a:visited{
      color:#fff;
      text-decoration: none;
    }
  }
}
