<div id="fb-root"></div>

<div class="parallax">
  <!-- <img [src]="'images/vue_top.jpg'" /> -->
  <h1>Aéro-club d'Annonay et de la Vallée du Rhône</h1>
  <p class="next" (click)="scrollToPresentation()"><span>›</span></p>
  <!-- <p>⌄
    Avec une flotte constituée de 5 avions et 1 ULM, vous pourrez découvrir la
    région aux commandes de machines diverses allant de Jodel à trains
    classiques aux emblématiques Robin DR400 en passant par un ULM A22.
  </p> -->
</div>

<section class="presentation" #presentation>
  <p>
    Situé au Nord Drôme, sur la commune d'Albon, lieu dit le Creux de la thine,(LFLR), nous vous proposons des
    vols découvertes, des vols d'initiation ainsi qu'une formation
    complète pouvant vous amener vers une licence d'avion LAPL/PPL et/ou d'<strong>U</strong>ltra <strong>L</strong>éger <strong>M</strong>otorisé.
  </p>
</section>
<section class="sub-menus">
  <div class="card">
    <h4>
      <a [routerLink]="['/voler/decouvrir']">Survoler la région ...</a>
    </h4>
  </div>
  <div class="card">
    <h4><a [routerLink]="['/voler/apprendre']">J'apprends à piloter</a></h4>
  </div>
  <div class="card">
    <h4><a [routerLink]="['/inscription']">Je suis déjà pilote</a></h4>
  </div>
</section>
<section class="social-container">
  <article>
    Caméra
    <img src="images/cameraAero.jpeg?1716475976" style="width: 100%" />
  </article>
  <aside>
    Actualités
    <app-facebook ></app-facebook>
  </aside>
  <!-- <script>
    $('iframe').load(function () {
      $('iframe').css(
        ' -webkit-box-shadow',
        'inset 0 0 6px rgba(23,118,220,0.4)'
      );
    });
  </script> -->
</section>
